[Unit]
Description=Prune rustic backup repository

[Service]
Type=oneshot
ExecStart=%h/.local/bin/rustic forget --prune
LoadCredentialEncrypted=rustic-password:rustic-password.cred
LoadCredentialEncrypted=rclone-password:rclone-password.cred
Environment="RCLONE_PASSWORD_COMMAND=/usr/bin/systemd-creds cat rclone-password"
