[Unit]
Description=Run rustic backup of password-store to append-only Backblaze

[Service]
Type=oneshot
ExecStart=%h/.local/bin/rustic -P passwords backup
LoadCredentialEncrypted=rustic-password:rustic-password.cred
